@charset "UTF-8";
/* Body */

body {
	height: 100%;
	width: auto;
	font-family: source-sans-pro;
	background-image: linear-gradient(to bottom right, #fdaaac, #8d52fa);
	margin: 0px;
	font-style: normal;
	font-weight: bold;
}
/* Container */
.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}
/* Navigation */
header {
	width: 100%;
	height: auto;
	text-align: center;
}
.logo {
	color: #fff;
	font-weight: bold;
	float: left;
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 5px; /* voidaan vielä nostaa jos pystyy tasata topin kanssa ym */
	margin-left: 0px;
	letter-spacing: 4px;
}
.points {
	float: center;
	width: 50px;
	height: auto;
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: 0px; /* voidaan vielä nostaa jos pystyy tasata topin kanssa ym */
	margin-left: auto;
	opacity: 1;
}
nav {
	float: right;
	width: 50%;
	text-align: right;
	margin-right: 25px;
}
header nav ul {
	list-style: none;
	float: right;
}
nav ul li {
	float: left;
	color: #FFFFFF;
	font-size: 14px;
	text-align: left;
	margin-right: 25px;
	letter-spacing: 2px;
	font-weight: bold;
	transition: all 0.3s linear;
}
ul li a {
	color: #FFFFFF;
	text-decoration: none;
}
ul li:hover a {
	color: #2C9AB7;
}
.hero_header {
	color: #FFFFFF;
	text-align: center;
	margin: 0px;
	letter-spacing: 4px;
}
/* Hero Section */
.hero {
    padding-top: 150px;
    padding-bottom: 150px;
    height: 100%;
    width: auto;
    display: block;
}
.light {
	font-weight: bold;
	color: #717070;
}
.tagline {
	text-align: center;
	color: #FFFFFF;
	margin-top: 4px;
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing: 1px;
}

/* About Section */
.text_column {
	height: 100%;
	text-align: justify;
	font-weight: lighter;
	line-height: 25px;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	color: #A3A3A3;
}
.about {
	margin-top: 1px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	display: inline-block;
	height: auto;
    background-clip: border-box;
    overflow-x: hidden;
    overflow-y: visible;
}
.video{
    position: center;
    margin-left: auto;
	margin-right: auto;
	max-width: 45vh;
	z-index: -1;
	display: inline;
}
.text{
    position: center;
    margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	font-size: 20px;
	color: #0f1e26;
	text-align: center;
	z-index: -1;
	
}
a:link {
	color: #0f1e26;
  }
.textArea{
    position: bottom;
    margin-left: auto;
	margin-right: auto;
	max-width: 45vh;
	z-index: -1;
	display: inline;
}
/* Stats Gallery */
.stats {
	color: #717070;
	margin-bottom: 5px;
}
.gallery {
	clear: both;
	display: inline-block;
	width: 100%;
	background-color: #FFFFFF;
	/* [disabled]min-width: 400px;
*/
	padding-bottom: 35px;
	padding-top: 0px;
	margin-top: -5px;
	margin-bottom: 0px;
}
.thumbnail {
	width: 25%;
	text-align: center;
	float: left;
	margin-top: 35px;
}
.gallery .thumbnail h4 {
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	color: #52BAD5;
}
.gallery .thumbnail p {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #A3A3A3;
}
/* Parallax Section */
.banner {
	background-color: #2D9AB7;
	background-image: url(../images/parallax.png);
	height: 400px;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}
.parallax {
	color: #FFFFFF;
	text-align: right;
	padding-right: 100px;
	padding-top: 110px;
	letter-spacing: 2px;
	margin-top: 0px;
}
.parallax_description {
	color: #FFFFFF;
	text-align: right;
	padding-right: 100px;
	width: 30%;
	float: right;
	font-weight: lighter;
	line-height: 23px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
/* More info */
.footer {
	position: absolute;
  	bottom: 0;
	width: 100%;
}
.footer_column {
	width: 30%;
	text-align: inherit;
	padding-top: 30px;
	float: inherit;
}
footer .footer_column h3 {
	color: #B3B3B3;
	text-align: center;
}
footer .footer_column p {
	color: #717070;
	background-color: #FFFFFF;
}
.cards {
	width: 100%;
	height: auto;
	max-width: 400px;
	max-height: 200px;
}
footer .footer_column p {
	padding-left: 30px;
	padding-right: 30px;
	text-align: center;
	line-height: 25px;
	font-weight: lighter;
	margin-left: 20px;
	margin-right: 20px;
}

.sdiv {
	position: relative;
	text-align: center;
}
#speechbox {
	width: 60%;
    height: 75px;
    background-color: rgb(255,255,255,0.5);
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 50px 50px 50px 50px;
	font-size: 100%;
	text-align: center;
	border: 2px solid #666;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 2px 2px 4px #888;
  -moz-box-shadow: 2px 2px 4px #888;
  box-shadow: 2px 2px 4px #888;
}

.buttonrow {
	position: relative;
	text-align: center;
	height: 30%;
	min-width: 220px;
	-webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
}

#nappi1 {
	text-align: left;
	position: fixed;
	bottom: 7%;
	left: 5%;
	width: 65px;
	height: 65px;
    background-color: transparent;
    background-image: url(../graphic/helpDefault.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
	border: none;
	outline: none;
    margin: 0px;
    font-size: 0px;
    -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
}

#nappi2 {
    width: 150px;
    height: 150px;
    background-color: transparent;
    background-image: url(../graphic/micDefault.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
	border: none;
	outline: none;
    margin: 0;
    font-size: 0;
    -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
}

#nappi3 {
	text-align: right;
	position: fixed;
	bottom: 7%;
	right: 5%;
    width: 65px;
    height: 65px;
    background-color: transparent;
    background-image: url(../graphic/arrowDefault.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
	border: none;
	outline: none;
    margin: 0px;
    font-size: 0px;
    -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
}

.nuoli {	
	text-align: right;
	position: fixed;
	bottom: 6.5%;
	right: 5.1%;
	width: 100%;
}

.info {	
	text-align: left;
	position: fixed;
	bottom: 7%;
	left: 5%;
	width: 100%;
}

.nuoli img {	
	width: 4em;
}

.copyright {
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #39B54A;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 1px;
	font-size: 70%;
}

.gui {
	position: inherit;	
	bottom: 0;
	width: 100%;
	display: inline-block;
	text-align: center;
	min-width: 50px;
	max-height: 200px;
}

.gui logo {	
	width: 100px;
}

.content {
	width: 100%;
	text-align: center;
	display: inline-block;
	position: relative;
}

.content img {
  display: block;
  margin-top: 25%;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
}

.hidden {
	display: none;
}
/*landscape small mobile */
@media only screen and (orientation:landscape) and (max-height: 600px){
	html {
		transform: rotate(180deg);
		background-size: contain;
        background-repeat: no-repeat;
        position: fixed;
        background-attachment: scroll;
        background-position: 50% 50%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: "";
        z-index: 0;
		background-image: url(../graphic/turn2.png);
		background-color: white;
		opacity: 0;	
	}
  }
@media screen and (orientation:portrait) and (max-height: 585px){
	#nappi2 {
		width: 100px;
		height: 100px;
		background-color: transparent;
		background-image: url(../graphic/micDefault.png);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 100% 100%;
		border: none;
		outline: none;
		margin: 0;
		font-size: 0;
		-webkit-user-select: none;  /* Chrome all / Safari all */
	    -moz-user-select: none;     /* Firefox all */
	    -ms-user-select: none;      /* IE 10+ */
	    user-select: none;
	}
}

@media screen and (max-height: 480px){
	#speechbox {
		height: 50px;
	}
	.text{
		margin-top: 10px;
		font-size: 16px;
	}
}

@media screen and (max-height: 425px){
	/*#speechbox {
		height: 35px;
	}*/
	.text{
		margin-top: 12px;
		font-size: 14px;
	}
	#nappi1 {
		width: 50px;
		height: 50px;
	}
	
	#nappi2 {
		width: 80px;
		height: 80px;
	}
	
	#nappi3 {
		width: 45px;
		height: 45px;
	
	}
}

